<h1>Fafsa Info</h1>
<p>All the help you need in one app!</p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fafsa Info</h1>
    <p class="lead">Financial aid is money to help pay for college or career school. Grants, work-study, loans, and scholarships help make college or career school affordable.</p>
  </div>
</div>
